
<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://img.freepik.com/free-vector/computer-service-pattern_1284-33514.jpg?w=740&t=st=1683430509~exp=1683431109~hmac=d559897b8056e0431bd41695aa35c3b032412128eeedfd7751921d11a9c0124d"
                alt="Sample photo" class="img-fluid h-100"
                style="object-fit:cover;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase text-primary">Formulaire de materiel</h3>
  
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Nom de materiel</label>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="number" id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">Quantité</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="number" id="form3Example1n" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Coute</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Departement Code</label>
                  </div>
    
  
                <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light btn-lg me-2">Annuler</button>
                    <button type="button" class="btn btn-warning btn-lg">
                      <i class="fas fa-save me-2"></i>Enregistrer
                    </button>
                  </div>
  
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


