<div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">

        <h1><a href="index.html"><img id="log" src="assets/img/lab4.png">Lab<span
              style="color: rgb(75, 175, 234);">.</span>Care</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact">Login</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Bienvenue sur notre site de maintenance Lab.Care ! </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Nous sommes heureux de vous accueillir ici et de vous présenter
            nos services de maintenance professionnels vous êtes au bon endroit. </h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Notre équipe de techniciens expérimentés est là pour vous aider à maintenir tous les équipements de
              l'Institut en parfait état de fonctionnement. Que ce soit pour des
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> équipements de laboratoire </li>
              <li><i class="ri-check-double-line"></i> des équipements de bureau</li>
              <li><i class="ri-check-double-line"></i> des machines-outils ou des équipements informatiques</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Nous comprenons l'importance des équipements dans le fonctionnement quotidien de l'Institut et nous sommes
              engagés à fournir des services de maintenance rapides, efficaces et abordables. Nous sommes fiers de notre
              engagement envers nos clients et nous nous efforçons de fournir un service personnalisé et de qualité
              supérieure à chaque fois.

              Nous sommes également conscients que la maintenance des équipements peut être coûteuse et chronophage.
              C'est pourquoi nous nous efforçons de vous offrir des solutions innovantes et durables pour réduire les
              coûts et augmenter la durée de vie de vos équipements. Nous sommes là pour vous aider à maximiser la
              productivité et la rentabilité de l'Institut.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
            data-aos="fade-right" data-aos-delay="150">
            <img id="iset" src="assets/img/pic14.jpg" alt="" class="img-fluid">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong> Notre mission:</strong> est de fournir des services de maintenance d'équipements de
                      qualité supérieure à l'Institut. </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Notre équipe:</strong> de techniciens est composée de professionnels hautement qualifiés
                      et expérimentés dans la maintenance d'équipements.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Nous offrons:</strong> une large gamme de services de maintenance d'équipements pour
                      répondre aux besoins de l'Institut</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Nous sommes:</strong> guidée par des valeurs telles que l'intégrité, l'honnêteté, la
                      qualité et l'engagement envers l institut.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Nous sommes impatients de travailler avec vous pour répondre à tous vos besoins en matière de maintenance
            d'équipements</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">departement informatique</a></h4>
              <p class="description">Nous croyons que la maintenance régulière des équipements est essentielle pour
                assurer leur bon fonctionnement et prolonger leur durée de vie</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">deaprtement genie procéde </a></h4>
              <p class="description">Nous croyons que la maintenance régulière des équipements est essentielle pour
                assurer leur bon fonctionnement et prolonger leur durée de vie</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">departement genie electrique</a></h4>
              <p class="description">Nos services comprennent la maintenance préventive régulière, la réparation
                d'urgence, la mise à niveau des équipements et la fourniture de pièces de rechange. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">departement génie mecanique</a></h4>
              <p class="description">Nous sommes fiers de fournir des services rapides, efficaces et abordables pour
                garantir que les équipements de l'Institut sont toujours opérationnels</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3><img id="log" src="assets/img/lab4.png">Lab<span style="color: rgb(75, 175, 234);">.</span>Care</h3>
              <p>Contactez-nous dès maintenant pour découvrir comment nous pouvons vous aider à maintenir vos
                équipements en parfait état de fonctionnement.</p>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>route Menzel Abedrahmen<br>Bizerte , 7070</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>Lab.care@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>72352485</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <div class="form-group">
              <div class="container">
                <div class="screen">
                  <div class="screen__content">

                    <form class="login" #loginForm="ngForm" (ngSubmit)="login(loginForm)">

                      <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" ngModel name="userEmail" id="userEmail" class="login__input"
                          placeholder="yourEmail@gmail.com">
                      </div>
                      <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input ngModel name="userPassword" id="userPassword" type="password" class="login__input"
                          placeholder="Password">
                      </div>

                      <button class="button login__submit" type="submit">
                        <span class="button__text">Log In Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                      </button>
                    </form>
                    <div class="social-login">

                      <div class="social-icons">
                        <a href="#" class="social-login__icon fab fa-instagram"></a>
                        <a href="#" class="social-login__icon fab fa-facebook"></a>
                        <a href="#" class="social-login__icon fab fa-twitter"></a>
                      </div>
                    </div>
                  </div>
                  <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">


        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>

          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
</div>