

<section class="ftco-section">
    <div class="container">
              
                        
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title m-b-0"><i class="bi bi-megaphone"></i>   Les reclamations </h5>
                    <div class="search">
                        <input type="text" class="search-input" placeholder="Chercher..." name="">
                        <a href="#" class="search-icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
                    <div class="table-responsive">
                        <div style="height: 430px; overflow-y: auto;">
                        <table class="table">
                            <thead class="thead-light">
                                <tr> <th scope="col">ID</th>
                                    <th scope="col">professeur</th>
                                    <th scope="col">Departement</th>
                                    <th scope="col">type</th>
                                    <th scope="col">status</th>
                                    <th scope="col">materiel</th>
                                    <th scope="col">Labo</th>
                                    <th>Date</th>
                                    <th>Date limite</th>
                                    <th></th>
                                    
                                </tr>
                            </thead>
                            <tbody class="customtable">
                                <tr>
                                    <td>1</td>
                                    <td>chayma saidani</td>
                                    <td>58767128</td>
                                    <td>1451772</td>
                                    <td>chaymasdn28@gmail.com</td> 
                                    <td></td>   
                                    <td></td> 
                                    <td></td>
                                    <td></td>
                                    <td><div class="btn-group" role="group" aria-label="Basic example">
                                        
                                    <button type="button" class="btn btn-outline-secondary"><i class="bi bi-trash"></i>Annuler</button>
                                  </div>
                                  </td>
                                  
                                                        
                                </tr>
                            </tbody>
                        </table>


                       
                        </div>
                    </div>
            </div>
        </div>
    </div>

       </div> 
        

</section>




