<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Nombre de Departements

                </p>
                <h5 class="font-weight-bolder">
                  4
                </h5>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder"></span>

                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                <i class="bi bi-bank" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Nombre de Chef Departements </p>
                <h5 class="font-weight-bolder">4</h5>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder"></span>

                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                <i class="fas fa-users" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold"> Nombre des Techniciens</p>
                <h5 class="font-weight-bolder">
                  10
                </h5>
                <p class="mb-0">
                  <span class="text-danger text-sm font-weight-bolder"></span>

                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                <i class="bi bi-wrench" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Nombre des ensaignats </p>
                <h5 class="font-weight-bolder">
                  50
                </h5>
                <p class="mb-0">
                  <span class="text-success text-sm font-weight-bolder"></span>
                </p>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                <i class="bi bi-person-square" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 "
          style="background-image: url('assets/acceuil/img/flag.jpg');background-position: center;background-repeat: no-repeat;">
          <h6 class="text-capitalize">Bienvenue sur le tableau de bord d'administration !</h6>
          <p class="text-sm mb-0">
            <i class="fa fa-arrow-up text-success"></i>
            <span class="font-weight-bold"></span> in 2023
          </p>
        </div>
        <div class="card-body">
          <div class="chart">
            <p style="text-align: center;font-size:medium;">

              Nous sommes ravis de vous accueillir ici,ous pourrez accéder à toutes les fonctionnalités et
              aux outils essentiels pour maintenir notre système en pleine forme. Vous aurez une vue d'ensemble
              claire et concise de l'état actuel du système, avec des statistiques pertinentes, des graphiques et
              des tableaux de bord interactifs.Grâce à ce tableau de bord d'administration, vous pourrez gérer les
              utilisateurs, contrôler les autorisations d'accès, suivre les performances du système, gérer les rapports
              et bien plus encore. Nous avons veillé à ce que chaque section soit organisée de manière logique et
              intuitive, pour que vous puissiez trouver rapidement ce que vous recherchez.
            </p>
            <canvas id="chart-line" class="chart-canvas" height="80"></canvas>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card card-carousel overflow-hidden h-100 p-0">
        <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
          <div class="carousel-inner border-radius-lg h-100">
            <div class="carousel-item h-100 active" style="background-image: url('assets/acceuil/img/iset1.jpg');
  background-size: cover;">
              <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                  <i class="ni ni-camera-compact text-dark opacity-10"></i>
                </div>
                <h5 class="text-white mb-1">L'ISET Bizerte</h5>
                <p>offre une large gamme de programmes de formation professionnelle dans des domaines tels que
                  l'informatique, l'électronique, l'électromécanique, le génie civil, les télécommunications et bien
                  d'autres encore. Ces programmes sont soigneusement conçus pour fournir aux étudiants les compétences
                  et les connaissances nécessaires pour répondre aux exigences du marché du travail en constante
                  évolution.</p>
              </div>
            </div>
            <div class="carousel-item h-100" style="background-image: url('assets/acceuil/img/iset2.jpg');
  background-size: cover;">
              <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                  <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                </div>
                <h5 class="text-white mb-1">L'ISET Bizerte</h5>
                <p> La qualité de l'enseignement dispensé à l'ISET Bizerte repose sur une équipe pédagogique compétente
                  et engagée, composée de professeurs et de professionnels expérimentés. Les étudiants bénéficient d'un
                  environnement d'apprentissage stimulant, où l'accent est mis sur la pratique, les projets concrets et
                  les stages en entreprise.</p>
              </div>
            </div>
            <div class="carousel-item h-100" style="background-image: url('assets/acceuil/img/iset4.jpg');
  background-size: cover;">
              <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                  <i class="ni ni-trophy text-dark opacity-10"></i>
                </div>
                <h5 class="text-white mb-1">L'ISET Bizerte</h5>
                <p>est également un centre de recherche dynamique, où des projets innovants sont menés dans différents
                  domaines technologiques. Les étudiants et les enseignants ont l'occasion de collaborer sur des projets
                  de recherche, d'explorer de nouvelles idées et de contribuer au progrès technologique de la région.
                </p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
