

<section class="ftco-section">
    <div class="container">
              
                        
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title m-b-0"><i class="bi bi-people-fill"></i> Les chefs des departements </h5>
                    <div class="search">
                        <input type="text" class="search-input" placeholder="Chercher..." name="">
                        <a href="#" class="search-icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
                    <div class="table-responsive">
                        <div style="height: 430px; overflow-y: auto;">
                        <table class="table">
                            <thead class="thead-light">
                                <tr> <th scope="col">ID</th>
                                    <th scope="col">Nom et Prenom</th>
                                    <th scope="col">Telephone</th>
                                    <th scope="col">Cin</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Departement</th>
                                   
                                </tr>
                            </thead>
                            <tbody class="customtable">
                                <tr>
                                    <td>1</td>
                                    <td>chayma saidani</td>
                                    <td>58767128</td>
                                    <td>1451772</td>
                                    <td>chaymasdn28@gmail.com</td>
                                    <td>Technologie de l'informatique</td>
                                                            
                                </tr>
                            </tbody>
                        </table>





                        </div>
                    </div>
            </div>
        </div>
    </div>

       </div> 
        

</section>



